<span class="generation-count">Génération {{ currentGeneration }}</span>
<ng-container *ngIf="loadingPercentage$ | async as loadingPercentage">
  <span class="generations-loading-status" *ngIf="loadingPercentage != 1">
    Chargement en cours... {{ loadingPercentage | percent:'2.0-2' }}
  </span>
</ng-container>
<div class="current-best-solutions">
  <p *ngFor="let solution of currentBestSolutions">
    individu: {{ solution.individualId }}
    eval: {{ solution.evaluation | number: '1.0-3' }}
    fuel: {{ solution.capsules[solution.capsules.length - 1].fuel }}
  </p>
</div>
<button
  class="play-button"
  mat-flat-button
  color="primary"
  (click)="isAnimationRunning() ? stopAnimation() : playAnimation()"
>
  {{ isAnimationRunning() ? "Stop" : "Play" }}
</button>
<mat-slider
  class="generation-slider"
  style="width: 100%"
  thumbLabel
  [(value)]="currentGeneration"
  tickInterval="1000"
  [step]="generationIncrement"
  min="firstGeneration"
  [max]="generationCount"
  aria-label="units"
></mat-slider>
