<span class="generation-count">Génération {{ currentGeneration }}</span>
<span
  class="generations-loading-status"
  *ngIf="generationsLoadingPercentage != 100"
  >Chargement en cours... {{ generationsLoadingPercentage }}%</span
>
<span class="best-solution-status" *ngIf="!bestSolutionFound">
  No solution found
</span>
<div class="current-best-solutions">
  <p *ngFor="let solution of currentBestSolutions">
    eval: {{ solution.evaluation }} individu: {{ solution.type }}
  </p>
</div>
<button
  class="play-button"
  mat-flat-button
  color="primary"
  (click)="isAnimationRunning() ? stopAnimation() : playAnimation()"
>
  {{ isAnimationRunning() ? "Stop" : "Play" }}
</button>
<mat-slider
  class="generation-slider"
  style="width: 100%"
  thumbLabel
  [(value)]="currentGeneration"
  tickInterval="1000"
  [step]="generationIncrement"
  min="0"
  [max]="generationCount"
  aria-label="units"
></mat-slider>
